<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CRUD</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
  <header>
    <h1><a href='/'>WHAT THE CRUD!?</a></h1>
    <span>Let's get some practice in</span>
    <span>Navigate through the pages</span>

    <ul>
        <li class="nav" ><a href='/post'>POST</a></li>
        <li class="nav" ><a href='/update'>UPDATE</a></li>
        <li class="nav" ><a href='/delete'>DELETE</a></li>
    </ul>
  </header>
    

  <script src="main.js"></script> 
  </body>
  </html>
  